<!DOCTYPE html>
<html>
  <head>
    <title><%= contact %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= contact %></h1>
    <p>Welcome to <%= contact %></p>
  </body>
</html>
